<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<a href="/tasks"> Wszystkie</a>
<a href="/finished"> Skończone</a>
<a href="/unfinished"> Nieskończone</a>

<h1> Dodaj zadanie</h1>
 <form action="/tasks" method="post">
    <br>
<label> Podaj nazwe </label>
    <br>
<input type="text" name = "name" >
    <br>
<label>podaj opis</label>
    <br>
<textarea name="description" ></textarea>
    <br>
<input type="checkbox" name="finiszhed">
    <br>
<input type="submit" value="Dodaj zmienna">
</form>
</body>
</html>